html, body, div, span, canvas {
    margin: 0;
    padding:0;
}

body {
    font-family: "calluna-sans", sans-serif;
}

#container {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;

    background: -o-linear-gradient(top, #000, #257eb7);
    background: -ms-linear-gradient(top, #000, #257eb7);
    background: -moz-linear-gradient(top, #000, #257eb7);
    background: -webkit-linear-gradient(top, #000, #021522);
    background: linear-gradient(top, #000, #257eb7);

    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7');
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7')";
}

#pixie {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: table;
}

#content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#clock {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    color: #fff;
    display: inline-block;
    z-index: 100;
}

#clock > div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.15);
}

#clock div > span {
    padding: 15px;
    width: 40px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.smallText {
    padding-top: 5px;
    font-size: 16px;
}

.ampersand {
    font-family: "tangerine";
}
